
{% include "head.html" %}
{% load static %}
<body>
{%if messages%}
  {%for message in messages%}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
  {%endfor%}
{%endif%}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<script src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>

{%block content%}{%endblock content%}
<!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $(this).toggleClass('open')
      if($(this).hasClass('open')){        
        $(this).find('span').removeClass('fa-angle-right').addClass('fa-angle-left')
      }
      else{
        $(this).find('span').removeClass('fa-angle-left').addClass('fa-angle-right')
      }
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  
</body>
</html>