 <!-- Sidebar -->
 <div  id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
      <a href="/busschedule/manage" class="list-group-item list-group-item-action bg-light">Manage Bus Schedule</a>
      <a href="/bus" class="list-group-item list-group-item-action bg-light">Manage Buses</a>
      <a href="/busstopstats" class="list-group-item list-group-item-action bg-light">View Bus Stop Stats</a>
      <a href="/operators" class="list-group-item list-group-item-action bg-light">Manage Operators</a>
      <!--
      <a href="/admin" class="list-group-item list-group-item-action bg-light">Admin</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Reports</a>
      -->
    </div>
  </div>

  <style>
   #sidebar-wrapper div > a.bg-light:focus, #sidebar-wrapper div > a.bg-light:hover{
      background-color: #ee0e51!important;
      color: white;
    }
  </style>
  <!-- /#sidebar-wrapper -->
